

<h3> Willkommen zu "{{title}}"</h3>
... bzw DEINEM ^^

<p>
  Sammler kennen das Problem vor allem bei langen Serien, die sich über Jahre ziehen:<br> "Habe ich den Band schon gekauft?"
</p>
<p>
  Jetzt kannst du auch von unterwegs immer den Überblick über die Büchersammlung in deinem Regal zu Hause behalten. 
  Damit du zum Beispiel auf Messen oder deinem Lieblingsbuchhändler nie mehr etwas doppelt kaufst.
</p>
<p>
  Übertrage einfach deine aktuelle Sammlung in dein virtuelles Regal und schau jederzeit nach, was dir fehlt.
</p>

<p id="textlinks">
<a href="/auth/login"> Log dich ein </a>  <br>
<p class="small"> Falls du noch keinen Account hast<a href="/auth/signup"> Registriere dich hier </a> oder leg gleich los mit deinem <a href="/auth/slack">SLACK-Login</a>!
</p></p>
