<h1>{{title}}</h1>
<p>Willkommen zu {{title}}</p>
... bzw DEINER ;)

<p>
<a href="/auth/login"> Logg dich ein </a> oder falls du noch keinen Account hast
<a href="/auth/signup"> Registriere dich hier </a>.
</p>